* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html {
    background-image: linear-gradient(to bottom right, steelblue, white);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    max-width: 850px;
    border: 3px solid steelblue;
    margin: 0 auto;
    background-color: white;
    box-shadow: 3px 3px 10px 2px grey;

}

header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(white, lightsteelblue);
}

header img {
    margin: 10px;
}

header h2 {
    font-size: 250%;
    margin-bottom: 10px;
    font-style: italic;
    color: steelblue;
    text-shadow: 5px 5px 10px steelblue;
}

aside ul {
    padding-left: 4em;

}

aside li {
    line-height: 140%;
}

* {
    text-decoration: none;
}

section a:link, section a:visited {
    color: maroon
}

section a:hover, section a:active {
    color: steelblue
}

main h2, main h3 {
    margin: 0 1em 2em;
}
    
blockquote {
    margin: 1em 3.5em 2em;
    padding: 1em;
    background-color: rgb(211, 225, 243);
    border-radius: 5px;
    box-shadow: 3px 3px 10px 2px lightsteelblue;
}


h1 {
    margin-inline: 1em;
}

main p {
    margin: 0 1em 2em;
}

aside a:link, aside a:visited {
    color: steelblue;
}

aside a:hover, aside a:active {
    color: maroon; 
    text-decoration: none;
}

aside a {
    font-weight: bold;
}

section{
    max-width: 70%;
}

aside {
    padding-top: 4em;
}

h1 {
    text-align: center;
}

main {
    display: flex;
}

header div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer {
    background-color: steelblue;
}

footer p {
    padding: 25px 0;
    color: white;
    text-align: center;
    font-size: 85%;
    font-weight: solid;
    font-variant: small-caps;
}